<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box class="aboutSlider">
      <ion-slide class="splash">
        <div>
        </div>
        <button class="button button-full button-dark">
          More Info
        </button>
      </ion-slide>
      <ion-slide>
        <div class="padding">
          <h1>What is Capsules.io</h1>
          <p>
            Capsules,io is a location-based social platform that provides its users the freedom to augment the world around them using virtual containers called capsules. They can be dropped at any location and are accessible to anyone in proximity. </p>

          <p>Capsules are containers so you can move them, and pick them up. They are highly customisable through extensions allowing you to configure their visibility and mobility among other things. </p>

          <h1>Share, Explore, Discover</h1>

          <p>Capsules are <b>social</b>. Create fun and personal location-based experiences for your family and friends. Drop a capsule… 
          </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="padding">
          <h1>Getting Started</h1>
          <h2>Discovery Engine</h2>
          <p>This is your portal to interact with capsules in physical world. Capsules that are near you will be displayed on the map. Click on the capsule to bring focus and display in the pager at the bottom. </p>
          <h3>Pick Up</h3>
          <p>Pick up a capsule by long clicking on a capsule on the map. </p>
          <h3>Drop</h3>

          <p>Click the capsule icon from the meny bar to extend a drawer to list of all the…</p>

        </div>
      </ion-slide>
      <ion-slide>
        <div class="padding">
          <h1>That's it!</h1>
          <p>If you need to revisit ny of this information, it will be accessable from the Help menu.</p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>